/* CSS reset */

:root{
    --primary-color : red;
    --secondary-color: white;
}
/* Navigation bar setting */

.navbar::before{
    content: "";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -10;
} 

.navbar{
    display: flex;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
}

.logo img{
    width: 52px;
    margin: 0px;

}
.navigation ul{
    flex-wrap: wrap;
}

.navigation a{
    font-weight: bold;
    text-decoration: none;
    padding: 2px;
    border-radius: 46px;
    margin: 0px 5px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    /* border: 3px solid var(--secondary-color); */
}

.nav_search{
    margin: 0px
}
.nav_search input{
    text-align: center;
}

/* Heading section */

.primary_heading{
    font-family: 'Bree Serif', serif;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    color: var(--primary-color);
}

.primary_text{
    font-family: Ubuntu;
    color: var(--secondary-color);
    text-align: center;
}

.secondary_heading{
    font-family: Ubuntu;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    color: var(--primary-color);
}

.secondary_text{
    font-family: Ubuntu;
    font-size: 1rem;
    text-align: justify;
    font-weight: lighter;
    /* color: var(--secondary-color); */
}
/* Heading section */

.heading{
    flex-flow: column;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 2px;
    margin-bottom: 13px;
    position: relative;
    height: 30rem;
}

/* Products section */
.products::before{
    background-color: black;
}
.products{
    flex-flow: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.product_container img{
    border-bottom: 0px ;

}

/* About US Customers */

.customers{
    flex-direction: column;
    border-bottom: 0px ;
    box-shadow: 0px 0px 0px ;
    flex-wrap: wrap;

}

/* Contact US section */


#contact_us{
    flex-flow: column;
    justify-content: space-evenly;
    padding: 0px;
    flex-wrap: wrap;
}

.user_form form input, #feedback{
    padding: 6px 0px;
    width: 320px;
    margin: 0px;
    border-radius: 8px;

}
.user_form form{
    align-items: center;
}

/* Contact Info */

.details {
    font-size: 12px;
}
.table_head{
    font-size: 1.2em;
}
.table_data{
    font-size: 1em;
}
.map iframe{
    margin-top: 2em;
    border-radius: 3em;
    width: 22em;
    height: 30em;
}

